  
    p {font-size: 16px;}
    .margin {margin-bottom: 45px;}
  
    .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
    }
    #height {
        background-color: green;
        padding-top: 15px;
        padding-bottom: 15px;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        font-size: medium;
        color:black;
        letter-spacing: 5px;
        height: 10%;
    }
    
    a:hover {       
        color: whitesmoke;
      } 
    
    li a {
        color:black;
    }
    
    #logo {
        width: 150px
    }
 
    
.modal-dialog {
max-width: 750px !important;
}

@media (min-width: 750px){#contact-form{
margin: 0 45%;
}}

@media (max-width: 749px){#contact-form{
margin: 0 30%;
}}

.carousel-caption {
background-image: linear-gradient(200deg, #fff, green);

bottom: 50%;

}

.modal-title, .modal-body{
    
color: #242424;
}
      
.modal-body{
    background-image: linear-gradient(180deg, #fff, green);
}
#btnMessage{
    background-color: #4CAF50; 
}